img.sponsors { border: none; margin: 6px 0; padding: 0;}

#header_wrap {background: none; background-color: black;}

#logo { border: none; box-shadow: none; float: right;}

#main_content_wrap { background: white;}

